amqp
annotated-types
anyio
arrow
asgiref
astroid
attrs
bandit
billiard
blinker
Brotli
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
crispy-bootstrap5
cron-descriptor
cssselect2

# -e C:/Q365/deepseek-cli


dill
distro
Django
django-axes
django-celery-beat
django-cors-headers
django-crispy-forms
django-jazzmin
django-modeltranslation
django-otp
django-ranged-response
django-ratelimit
django-recaptcha
django-simple-captcha
django-simple-history
django-timezone-field
djangorestframework
djangorestframework-simplejwt
drf-spectacular
et_xmlfile
flake8
Flask
fonttools
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
ics
idna
inflection
isort
itsdangerous
Jinja2
jiter
jsonschema
jsonschema-specifications
kombu
markdown-it-py
MarkupSafe
mccabe
mdurl
mypy
mypy_extensions
numpy
openai
openpyxl
packaging
pandas
pathspec
pbr
pillow
platformdirs
prompt_toolkit
proto-plus
protobuf
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pydyf
pyflakes
Pygments
PyJWT
pylint
pyparsing
pyphen
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
redis
referencing
reportlab
requests
rich
rpds-py
rsa
setuptools
six
sniffio
sqlparse
stevedore
TatSu
tinycss2
tinyhtml5
tomlkit
tqdm
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
weasyprint
webencodings
Werkzeug
wheel
XlsxWriter
zopfli
